@font-face {
    font-family: "Aller" ;
    src: url(resources/Aller.ttf);
}

#judul {font-family: "Aller";
    color: black;
    text-shadow: 3px 3px 3px white;
    opacity: 2.0;
    font-size: 50px;
    font-weight: bold;
}

#player-turn{font-family: "Aller";
    color: black;
    text-shadow: 3px 3px 3px white;
    opacity: 2.0;
    font-size: 15px;
    font-weight: bold;
}

p{font-family: "Aller";
    color: black;
    text-shadow: 3px 3px 3px white;
    opacity: 2.0;
    font-size: 15px;
    font-weight: bold;
}

li{font-family: "Aller";
    color: black;
    text-shadow: 3px 3px 3px white;
    opacity: 2.0;
    font-size: 15px;
    font-weight: bold;
}

hr{
    color: black;
    opacity: 1.0;
}

#addPlayerButton{font-family: "Aller";
    color: black;
    text-shadow: 1px 1px 1px white;
    opacity: 1.0;
    font-weight: bold;
}

button{
    background-color: #fec993 !important;
    border-color: #fec993 !important;
}

label{font-family: "Aller";
    color: gray;
    opacity: 0.5;
    font-weight: bold;
}

#staticBackdropLabel{font-family: "Aller";
    color: black;
    opacity: 2.0;
    font-weight: bold;
}

#ply_name{font-family: "Aller";
    color: black;
    opacity: 1.0;
    font-weight: bold;
}

#playButton{font-family: "Aller";
    color: black;
    text-shadow: 1px 1px 1px white;
    opacity: 2.0;
    font-weight: bold;

}

