#logo {
    width: 7em;
}

.myFlexContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.playerDIV {
  height: 10rem;
}

@font-face {
    font-family: "Aller" ;
    src: url(resources/Aller.ttf);
}

#judul {font-family: "Aller";
    color: black;
    text-shadow: 3px 3px 3px white;
    opacity: 2.0;
    font-size: 50px;
    font-weight: bold;
}

#player-turn{font-family: "Aller";
    color: black;
    text-shadow: 3px 3px 3px white;
    opacity: 2.0;
    font-size: 15px;
    font-weight: bold;
}

p{font-family: "Aller";
    color: black;
    text-shadow: 3px 3px 3px white;
    opacity: 2.0;
    font-size: 15px;
    font-weight: bold;
}

li{font-family: "Aller";
    color: black;
    text-shadow: 3px 3px 3px white;
    opacity: 2.0;
    font-size: 15px;
    font-weight: bold;
}

hr{color: black;
    opacity: 5;
    height: 6px;
    width: auto;
    background-color: black;
    border: 0.7px;
}

#addPlayerButton{font-family: "Aller";
    color: black;
    text-shadow: 1px 1px 1px white;
    opacity: 1.0;
    font-weight: bold;
}

/* button{
    background-color: #fec993 !important;
    border-color: #fec993 !important;
} */

label{font-family: "Aller";
    color: gray;
    opacity: 0.5;
    font-weight: bold;
}

#staticBackdropLabel{font-family: "Aller";
    color: black;
    opacity: 2.0;
    font-weight: bold;
}

#ply_name{font-family: "Aller";
    color: black;
    opacity: 1.0;
    font-weight: bold;
}

#playButton{font-family: "Aller";
    color: black;
    text-shadow: 1px 1px 1px white;
    opacity: 2.0;
    font-weight: bold;

}

.fade-in { 
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



.button {
    border: none;
    /* font-family: 'Lato'; */
    font-size: inherit;
    text-shadow: 1px 1px 1px white;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    margin: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .button:before {
    /* font-family: 'FontAwesome'; */
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .button-sep {
    padding: 25px 60px 25px 120px;
  }
  
  .button-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  /* Button 1 */
  .btn-1 {
    background: #f4bb73;
    color: black;
  }
  
  .btn-1:hover {

    background: #dca868;
  }
  
  .btn-1:active {
    background: #dca868;
    top: 2px;
  }
  
  .btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 2 */
  .btn-2 {
    background: #FC948E;
    color: #000;
  }
  
  .btn-2:hover {
    background: #DE837E;
  }
  
  .btn-2:active {
    background: #DE837E;
    top: 2px;
  }
  
  .btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-3 {
    background: #e74c3c;
    color: black;
  }
  
  .btn-3:hover {
    background: #c0392b;
  }
  
  .btn-3:active {
    background: #c0392b;
    top: 2px;
  }
  
  .btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-4 {
    background: #00FE94;
    color: #000;
  }
  
  .btn-4:hover {
    background: #01CF79;
  }
  
  .btn-4:active {
    background: #00E585;
    top: 2px;
  }
  
  .btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
#playerInput{font-family: "Aller";
    color: black;
}


.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  /* -webkit-backface-visibility: hidden; */
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

